.body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

.ustmenu {
 
    text-align: center;            
}

.ustmenu a {

    text-decoration: none;
    margin: 40px;
    color: rgb(82, 6, 55);
}

.buton {

    background-color: rgb(82, 6, 55);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border-width: 3px;
}

.buton:hover {

    background-color:rgb(255, 26, 175);
}

.ustmenu a:hover {

    color:rgb(255, 26, 175);
}

.giris {
    text-align: center;
    padding: 80px 20px;
}

.giris h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.giris h3 {
    margin-bottom: 10px;
    color: rgb(82, 6, 55);
}

.anasayfa-buton {

    background-color: rgb(186, 39, 154);
    color: rgb(255, 255, 255);
    margin-top: 15px;
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    

}

.anasayfa-buton:hover { 
    color: #000000;
    background-color: rgb(255, 110, 224);

}

.ben {
    padding: 60px 40px;
}

.ben h2 {
    margin-bottom: 15px;
    color: rgb(82, 6, 55);
}

.neogrendim {
    margin-top: 50px;
    color: rgb(82, 6, 55);

}

.neogrendim span {
    display: inline-block;
    background-color: #e3e6ff;
    padding: 6px 12px;
    margin: 5px;
    border-radius: 20px;
    font-size: 14px;
}

.neogrendim span:hover {

    background-color: #111;
    color: white;
}

.yaptiklarim {
    padding: 60px 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.projedetayi {
    background-color: #e3e6ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.projedetayi:hover {
    transform: translateY(-5px);
    background-color: black;
    color: whitesmoke;
}

.projedetayi h4 {
    margin-bottom: 10px;
    color:rgb(255, 26, 175);
}

.projedetayi button {
    margin-top: 15px;
    padding: 8px 12px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.projedetayi button:hover {
    background-color: rgb(82, 6, 55);
}

.projedetayi a {

    text-decoration: none;
}

.projedetayi a:hover {

    color: white;
}

.medya {
    text-align: center;
    padding: 40px;
    background-color: #1e1f26;
    color: white;
}

.logolar {

    width: 40px;
    height: 35px;
}

.medya-btn {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: #aaa;
    font-size: 14px;
}